---
interface Props {
  url: string;
  title: string;
  tags: string[];
}

const { url, title, tags } = Astro.props;
---

<div
  data-tags={tags.join("-")}
  class="case-tile mt-2 flex flex-row items-center gap-2 transition-opacity"
>
  <a href={url} class="group border-none text-lg">{title}</a>
  {tags.map((tag) => (
    <button
      onclick={`checkTags('${tag}')`}
      data-tag={tag}
      class="border border-stone-600 text-stone-600 hover:border-highlight hover:bg-highlight hover:text-stone-100 transition-colors text-xs py-0.5 px-2 rounded-full"
    >
      {tag}
    </button>
  ))}
</div>
