<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}{% if index != true %}{{ ' | Zhiyuan designed' }}{% endif %}</title>
    <meta name="description" content="{{ description }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Source+Serif+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/css/tailwind.css' }}">
  </head>
  <body class="bg-stone-100 text-stone-800 h-full max-w-4xl flex flex-col p-4 lg:p-8">
    <a href="#main-content" class="sr-only focus:not-sr-only">Skip to main content</a>
    <main id="main-content" class="mb-4 lg:mb-8">{{ content }}</main>
    <footer class="mt-auto pb-4 lg:pb-8 text-sm">
      <div>2011 - 2023 © Zhiyuan</div>
      <div>Built with
        <a href="https://www.11ty.dev/" target="_blank">11ty</a>, hosted on
        <a href="https://pages.cloudflare.com/" target="_blank">Cloudflare Pages</a>, source at
        <a href="https://github.com/xmflsct/xmflsct-website" target="_blank">GitHub</a>
      </div>
    </footer>
  </body>
</html>