---
index: false
layout: base
---

<h1 class="m-0">{{ title }}</h1>
<div class="mt-2 lg:mt-4 mb-8 lg:mb-10 flex flex-row items-center"><a href="/#{{ tags }}" class="border border-highlight bg-highlight text-stone-100 hover:text-stone-100 text-xs py-0.5 px-2 rounded-full">{{ tags }}</a><span class="ml-1">in {{ year }}</span></div>

<article>{{ content }}</article>

<a href="javascript:history.back()" class="border-0 text-xl">
  <span class="mr-2">â†</span>Overview</a>